.header {
  @apply bg-primary-500 flex;
  @media screen and (min-width: 768px) {
    @apply border-b border-primary-400;
  }
  @media screen and (max-width: 414px) {
    @apply px-8;
  }
}

.content {
  &  ul {
    @apply font-light mb-4;
    & > li {
      position: relative;
      padding-left: 1rem;
      &::before {
        content: '-';
        position: absolute;
        left: 0;
        top: 0;
        color: #F28811;
      }
    }
  }
  h2 {
    @apply mb-4;
  }
  h3 {
    @apply text-2xl mb-4 block;
  }

  p:not(:last-of-type) {
    @apply mb-4;
  }

  strong {
    @apply font-bold mt-4 block;
  }
}

.custom-logo {
  height: 30px;
  width: auto;
}

.button {
  @apply bg-secondary-500 px-4 py-2 text-white cursor-pointer rounded;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-title font-medium leading-none;
}

h2 {
  @apply text-3xl;
}

p {
  @apply mb-2;
  @apply font-light;
}

.home-tease-vacature {
  @apply border-l-12 border-secondary-500 bg-primary-300 p-8 flex flex-col;

  &:nth-of-type(2) {
    @media screen and (min-width: 768px) {
      @apply mx-8;
    }
  }

  @media screen and (max-width: 414px) {
    @apply my-4 p-4;
  }
}

.home-meer-vacatures {
  @apply text-secondary-500 mx-auto;
  @media screen and (min-width: 768px) {
    transform: translateX(-50%);
  }

  & > .home-tease-vacature-main {
    min-height: 8rem;
    @media screen and (max-width: 414px) {
      min-height: 4rem;
    }
  }
}

.vacature-demands-container {
  @apply border-l-12 bg-white border-secondary-500 py-12 px-8 flex shadow-lg;
  margin-top: -120px;
  @media screen and (max-width: 414px) {
    margin-top: 1rem;
  }
}

.vacature-contactpersoon {
  @apply border-l-12 bg-white border-secondary-500 py-8 px-8 shadow-lg;
}

.clip-me {
  height: 100px;
  width: 100%;
  object-fit: cover;
  object-position: top;
  @media screen and (min-width:768px) {
    height: 470px;
    width: 800px;
    object-fit: cover;
    clip-path :polygon(100% 0, 0 0, 0 100%, 8% 90%, 100% 90%);
    max-width: unset;
  }
}

blockquote {
  @apply text-secondary-500 font-title text-2xl;
}

.filtered {
  filter: grayscale(100);
}

.childnavi {
  &.active {
    @apply text-secondary-500;
  }
}

.menu-item {
  @apply text-white;
  &:hover {
    @apply text-secondary-500;
  }
  &.current-menu-item {
    @apply text-secondary-500;
  }
}

.checkarea {
  cursor: pointer;
  & > .checkbox {
    display: none;

    &:checked {
      & ~ .label {
        font-weight: bold;
      }
    }
  }
}

.employers-footer {
  @apply mx-auto flex flex-wrap;
  @media screen and (max-width: 414px) {
    display: none;
  }
}

.main-content {
  @apply mx-auto py-8;
  @media screen and (min-width: 768px) {
    @apply flex;
  }
  @media screen and (max-width: 414px) {
    @apply px-8;
  }
}

.homepage-img {
  @apply h-full object-cover;
  @media screen and (max-width: 414px) {
    @apply w-full;
    height: 200px;
    object-position: top;
  }
}
