<article data-id="{{ post.ID }}" class="tease-vacature">
    <strong>
        {{ post.title }}
    </strong>
    <p>
        {{ post.content|excerpt(25) }}
    </p>
    <p>
        {{ post.meta('locatie') }}
    </p>
</article>
