<form action="/" method="get">
    <input type="text" class="search-form-control" id="s" name="s">
    <label class="search-form-label" for="s"><!--suppress CheckTagEmptyBody -->
        <i class="fas fa-search"></i></label>
</form>
